# cpp 
build/

# results
data/output/3l-cvrp/test/
!data/input/model
data/input/3l-cvrp/Non_executed_parameter_files

.vscode/
assets/

# python
python/visualization/__pycache__/
python/.venv/
# ruff
.ruff_cache